.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");

* {
    font-family: "Montserrat", sans-serif !important;
}

body {
    padding-top: 80px;
}

/* button style src = https://css-tricks.com/overriding-default-button-styles/ */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
/* layout */
.navbar {
    background-color: #051b2a;
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30px;
}

nav {
    display: flex;
    flex-direction: row;
}

.navlink {
    height: 60px;
    text-decoration: none;
    color: #d0e7ff;
    padding: 0 20px;
    background-color: #0c3b5b;
    display: flex;
    align-items: center;
}

.navlink:hover {
    color: #0c3b5b;
    padding: 0 30px;
    background-color: #d0e7ff;
}

.logo {
    position: absolute;
    width: 100px;
    border-radius: 50%;
}

.page-heading {
    font-size: 40px;
    position: fixed;
    top: 100px;
    margin: 0 0 0 20px;
}
/* Settings */

.settings-info {
    padding: 15px 25px;
    width: 30%;
    max-width: 450px;
    margin: 0 auto;
    background-color: #051B2A;
    color: #fff;
    border-radius: 50px;
    .settings-entry {
        padding: 5px;
        
        display: flex;
        justify-content: space-between;
        .settings-label {
            font-weight: 600;
        }
        .settings-data {
        }
    }
    button {
        margin: 20px 0;
    }
}

.edit-settings {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    div {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        padding: 5px 0;
    }
}

/* Insulin */
.all-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-insulin {
    width: 50% !important;
}

.single-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #051b2a;
    color: rgb(208, 231, 255);
    width: 33.3%;
    min-width: 530px;
    margin: 10px;
    border-radius: 10%;
}
.insulin-item {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
}
.item-group {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.date {
    font-size: 12px;
    color: rgb(208, 231, 255);
}
.label {
    font-size: 16px;
    color: #4a92d4;
}
.item {
    padding: 5px;
}

.viewbtn {
    margin: 0 0 0 20px;
    border-radius: 0;
    border-radius: none;
}

.d-type {
    text-transform: capitalize;
}

.totald {
    font-size: 60px;
    padding: 5px;
}
.total-delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

/* food */

.result-display{
    border: solid 1px orange;
    width:60%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.food-result{
    width: 49%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px rgb(60, 108, 180);
    justify-content: space-between;
    h5{
        font-size: 12px;
        padding-left: 5px;
    }
    .button-container{
        padding-right: 5px;
    }
    button{
        padding:6px;
        float: right;
    }
}

.nutrient-values{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div{
        width: 50%;
        font-size: 12px;
    }
    .result-carbs{
        color: #0069ED;
        font-weight: 600;
    }
}

.result-image{
    height:40px;
    width:40px;
}
